alembic==0.9.3
appdirs==1.4.4
bidict==0.21.2
bleach==2.0.0
blinker==1.4
cachelib==0.1.1
click==8.0.1
distlib==0.3.2
dominate==2.3.1
filelock==3.0.12
Flask==2.0.1
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.10
Flask-HTTPAuth==3.2.3
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.4
Flask-Moment==0.5.1
Flask-PageDown==0.2.2

Flask-Session==0.3.2
Flask-SocketIO==5.1.0
Flask-SQLAlchemy==2.2
Flask-SSLify==0.1.5
Flask-WTF==0.15.1
greenlet==1.1.0
gunicorn==19.7.1
html5lib==0.999999999
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.0.7
Markdown==2.6.8
MarkupSafe==2.0.1
psycopg2==2.8.6
psycopg2-binary==2.8.5
python-dateutil==2.6.1
python-dotenv==0.18.0
python-editor==1.0.3
python-engineio==4.2.0
python-socketio==5.3.0
six==1.10.0
SQLAlchemy==1.4.18
virtualenv==20.0.31
visitor==0.1.3
webencodings==0.5.1
Werkzeug==2.0.1
WTForms==2.1
git+https://github.com/ramonrodriguesomero/flask-script.git
git+https://github.com/ramonrodriguesomero/flask-wtf.git