{% extends 'layout.html' %}

{% block titulo %}Painel{% endblock %}

{% block conteudo_pagina %}

    <div class="painel__container">
        
        <a class="painel__links-topo" href="{{ url_for('painel.painel') }}">⇦ Painel</a>

        <h1 class="painel__titulo">Lista de Questões</h1>

        <ul class="painel__lista">
            {% for questao in questoes %}
                <a href="{{ url_for('painel.questao', id=questao.id) }}">
                    <li class="painel__lista-item">

                        <div class="painel__item-info">
                            <h3 class="painel__item-cabecalho">
                                <span class="painel__item-nome">{{ questao.titulo }}</span>
                            </h3>
                        </div>

                    </li>
                </a>
            {% endfor %}
        </ul>

    </div>
    
{% endblock %}
