#barra-navegacao {
    padding: 0px 5px 0 5px;
    background-color: #29ba13;
}

#barra-navegacao > * {
    padding: 0;
    margin: 0;
}


.navbar-brand img {
    border-radius: 30px;
}

#nav-logo {
    font-family: 'Merienda One', cursive;
    font-size: 2em;
}

.navbar {
    font-family: 'Unica One', cursive;
}

#botao-pesquisa {
    border: 1px white solid;
}

.row {
    width: 95%;
    margin: 0 auto;
}

.col-sm-4 {
    margin-top: 20px;
}

.box {
    height: 200px;
    border: 1px solid grey;
    background-color: black;
}

footer {
    margin: 20px;
    background-color: #555555;
}

.footer-heading {
    font-family: 'Roboto Slab', serif;
    color: grey;
    font-size: .8em;
}

footer .fa {
    margin-right: 10px;
}

footer li.list-group-item {
    border: none;
}

.inputCheck {
    margin-top: 10px;
}


.nav-item {
    display: inline-block;
}

.dropdown-menu { 
    padding: 0;
}

.dropdown-item {
    margin: 0;
    padding: 8px 8px 8px 12px;
}


@media (max-width: 768px) {

    #barra-navegacao {
        padding: 5px;
    }

    .nav-item-texto {
        display: inline-block;
        padding-left: 12px;
    }
}

.postOptions {
    position: absolute;
    top: 12px;
    right: 12px;
    padding-bottom: 2px
}

.editPostIcon {
    position: relative;
    bottom: 3px;
}

.removePostIcon {
    text-align: center;
    line-height: 1em;
    font-size: 1.3em;
    color: grey;    
    border-radius: 3px;
}




/* Avatar do usuário na página de perfil */


.medalha-perfil {
    position: absolute;
}


.profile-header {
    min-height: 100px;
    margin-left: 120px;
}