
.perfil__container {
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
}

@media (min-width: 768px) {
    .perfil__container {
        width: 70%;
        margin: 0 auto;
    }
}

.perfil__opcoes {
    display: flex;
    flex-direction: row-reverse;
}

.perfil__info {
    display: flex;
    flex-direction: row;
    align-items: top;
}


/* Crachá do usuário (avatar e nome de usuário) na página de perfil */
.perfil__cracha {
    padding: 5px;
}

.perfil__cracha img {
    width: 100px;
}


.perfil__usuario-dados {
    padding: 5px;
}

.perfil__estatisticas-lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    list-style-type: none;
}

.perfil__estatisticas-lista li {
    border: 1px solid grey;
    border-radius: 3px;
    margin: 0 5px 5px 0;
    padding: 2px;
}


