{% extends 'layout2.html' %}

{% block titulo %}Entrar{% endblock %}

{% block content %}

<div class="entrar__container">

    <div class="entrar__wrap">

        <div class="entrar__esquerda">
            <h3 class="entrar__logo">
                Aprenda<br><span style="display: inline-block; position: relative; left: 0.2em">Agora</span>
            </h3>

            <span class="entrar__descricao">
                A plataforma educativa <b>completa</b> e <b>100% gratuita</b>.
            </span>
        </div>

        <div class="entrar__direita">
            {% block formulario_autorizar %}
                {{ exibir_formulario_entrar(formulario) }}
            {% endblock %}
        </div>

    </div>
    
</div>  
    
{% endblock %}