{% extends 'layout2.html' %}

{% block titulo %}Entrar{% endblock %}


<!-- Conteúdo da Página-->
{% block content %}

<div class="entrar__container">
    <div class="entrar__wrap">
        <div class="entrar__esquerda">
            <h3 class="entrar__logo">
                Aprenda Agora
            </h3>

            <span class="entrar__descricao">
                Aprenda idiomas e conecte-se com o mundo.
            </span>
        </div>

        <div class="entrar__direita">

            {{ exibir_formulario_entrar(formulario) }}

        </div>
    </div>
</div>  
    
{% endblock %}