{% extends 'layout.html' %}

{% block titulo %}Inscrição{% endblock %}

{% block cabecalho %}
<h1>Faça sua inscrição no Aprenda Agora</h1>
{% endblock %}

<!-- Conteúdo da Página-->
{% block conteudo_pagina %}

    <!-- Exibe o formulário de login -->
    <form method="POST" action="" class="form" role="form">

        {{ formulario.hidden_tag() }}
        
        {{ exibir_campo(formulario.email) }}

        {{ exibir_campo(formulario.nome_usuario) }}

        {{ exibir_campo(formulario.senha) }}

        {{ exibir_campo(formulario.senha2) }}

        {{ exibir_botao(formulario.enviar) }}

    </form>

{% endblock %}