{% extends 'layout.html' %}

{% block titulo %}Troque sua senha{% endblock %}

<!-- Conteúdo da Página-->
{% block conteudo_pagina %}

    <!-- Exibe o formulário de login -->
    <form method="POST" action="" class="form" role="form">

        {{ formulario.hidden_tag() }}

        {{ exibir_campo(formulario.senha_antiga) }}
        
        {{ exibir_campo(formulario.nova_senha) }}

        {{ exibir_campo(formulario.nova_senha2) }}

        {{ exibir_botao(formulario.enviar) }}

    </form>

{% endblock %}