{% extends 'layout.html' %}

{% block titulo %}Início{% endblock %}


{% block conteudo_pagina %}

    <!-- Mensagem de boas-vindas personalizada -->
    <h2>Olá, {% if current_user.is_authenticated %}{{ current_user.nome_usuario }}{% else %}Desconhecido{% endif %}!</h2>

    <!-- Se nao houver uma seção gravada-->
    {% if not current_user.is_authenticated %}
        <p>Prazer em te conhecer!</p>
    <!--- Se houver uma seção gravada-->
    {% else %}
        <p>Seja bem-vindo novamente!</p>
    {% endif %}
    
    <hr>
    
    <!-- Datas -->
    <p>A data e horário local é {{ moment(current_time).format('LLL') }}.</p>
    <p>Isso foi {{ moment(current_time).fromNow(refresh=True) }}</p>

{% endblock %}
