{% extends 'layout.html' %}

{% block conteudo_pagina %}

    <div class="perfil__container page-header p-3 position-relative">

        <div class="perfil__opcoes">
            <!-- Se a página de perfil for da conta do cliente-->
            {% if usuario == current_user %}
                <a class="btn btn-dark btn-sm"
                href="{{ url_for('.editar_perfil')}}"><i class="fa fa-cog"></i></a>
            {% endif %}

            <!-- Se o cliente for ADMINISTRADOR -->
            {% if current_user.e_administrador() %}
                <a href="{{ url_for('.editar_perfil_admin', id=usuario.id) }}"
                class="btn btn-danger btn-sm"><i class="fa fa-cog"></i></a>
            {% endif %}
        </div>

        <div class="perfil__info">

            <div class="perfil__cracha">

                <img src="{{ url_for('static', filename='imagens/placeholder.jpg') }}" alt="" class="img-rounded profile-thumbnail">
    
                <!--
                    <img src="{{ usuario.gravatar(size=100) }}" alt="" class="img-rounded profile-thumbnail">
                -->
                
                <span class="d-block pt-1">
                    <a href="{{ url_for('inicio.usuario', nome_usuario=usuario.nome_usuario)}}">
                        @{% block titulo %}{{ usuario.nome_usuario }}{% endblock %}
                    </a>
                </span>
            </div>

            <div class="perfil__usuario-dados">

                <h4>
                    {% if usuario.nome %}
                        {{ usuario.nome }}
                    {% endif %}

                    {% if usuario.sobrenome %}
                        {{ usuario.sobrenome }}
                    {% endif %}
                </h4>

                {% if usuario.localizacao %}
                    <div id="localizacaoInfo" class="mb-2">
                        <i class="fa fa-map-pin"></i>
                        <a href="http://maps.google.com/?q={{ usuario.localizacao }}">
                            {{ usuario.localizacao }}
                        </a>
                    </div>
                {% endif %}

                <p><i class="fa fa-history"></i> Membro desde {{ moment(usuario.membro_desde).format('L') }}. Último acesso {{ moment(usuario.ultimo_acesso).fromNow() }}.</p>
        
                <!-- Se o cliente for ADMINISTRADOR -->
                {% if current_user.e_administrador() %}
                    <div id="emailInfo" class="mb-2">
                        <h6 class="text-muted">Email</h6>
                        <p><a href="mailto:{{ usuario.email }}">{{ usuario.email }}</a></p>
                    </div>
                {% endif %}
        
                {% if usuario.sobre %}
                    <div id="sobreInfo" class="mb-2">
                        <p>{{ usuario.sobre }}</p>
                    </div>  
                {% endif %}

                <ul class="perfil__estatisticas-lista">

                    <!--

                        Cursos completados
                        Tópicos completados
                        Lições completadas
                        Questões respondidas

                        Publicações escritas
                        Comentários escritos

                        Amor recebido
                    -->

                    <li>📄 {{ usuario.licoes_completadas | length }} <i class="fa fa-check-square"></i> Lições completas</li>
    
                    <li>9 <i class="fa fa-newspaper"></i> Publicações escritas</li>
    
                    <li>💬 {{ usuario.comentarios | length }} <i class="fa fa-comment"></i> Comentários escritos</li>
    
                    <li>💙 <i class="fa fa-heart"></i> Amor recebido</li>

                    <li>📄 {{ usuario.licoes_completadas | length }} <i class="fa fa-check-square"></i> Lições completas</li>
    
                    <li>9 <i class="fa fa-newspaper"></i> Publicações escritas</li>
    
                    <li>💬 {{ usuario.comentarios | length }} <i class="fa fa-comment"></i> Comentários escritos</li>
    
                    <li>💙 <i class="fa fa-heart"></i> Amor recebido</li>
                </ul>

            </div>
        </div>

        <!-- AÇÕES -->
        <div class="perfil__menu-acoes">
            
            {% if current_user == usuario and current_user.role.tem_permissao(Permissao.ADMIN) %}
                <a href="{{ url_for('painel.painel') }}">
                    <button class="btn btn-success">🧙 Acessar o Painel</button>
                </a>
            {% endif %}
           
        </div>
    </div>

{% endblock %}