.artigo__container {
    background-color: rgb(243, 243, 243);
}

.artigo__cabecalho {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden; 
}

.artigo__cabecalho-imagem {
    position: absolute;
    width: 100%;
}

.artigo__container-conteudo {
    position: relative;
    top: -300px;
    margin: 0 10px;
}


@media (min-width: 768px) {
    .artigo__container-conteudo {
        width: 70%;
        margin: 0 auto;
    }
}

.artigo__container-titulo {
    margin-bottom: 3em;
    font-family: 'Unica One';
}

.artigo__titulo {
    font-size: 2em;
    margin-bottom: 0;
}

.artigo__titulo span {
    padding: 5px; 
    background-color: blue; 
    color: white
}

.artigo__info {
    color: white;
}

.artigo__info span {
    background-color: rgb(0, 89, 255);
    padding: 5px;
}

.artigo__info-tags {
    display: flex;
    margin-top: 10px;
    color: white;
}

.artigo__conteudo {
    display: block;
    margin: 20px auto;
    background-color: white !important;
    padding: 2em;
}

.artigo__container-formulario-comentario {
    font-size: 1.5em
}


.artigo__formulario-comentario {
    margin-top: 10px;
    margin-bottom: 1em
}




.artigo__container-comentario {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}


.artigo__container-reacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-right: 5px;
    color: grey;
}

.artigo__comentario {
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    width: 100%;
    padding: 5px;
}


.artigo__info-autor {
    border-top: 5px solid rgb(228, 228, 228);
    margin-top: 1em;
    padding-top: 1em;
}

.artigo__link-autor {
    display: flex;
    align-items: center;
    color: rgb(54, 54, 54);
    text-decoration: none;
}

.artigo__link-autor:hover {
    color: rgb(54, 54, 54);
    text-decoration: none;
}

.artigo__imagem-autor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.artigo__descricao-autor {
    color: grey;
    font-family: 'Glegoo';
    margin-top: 10px;
}

.artigo__autor-redes-sociais {
    color: rgb(54, 54, 54);
}






.artigo__comentarios {
   
}

.artigo__container-comentario {
    
}

.artigo__comentario-rodape {
    color: rgb(179, 179, 179);
    font-size: 13px;
}

.artigo__comentario-rodape a {
    text-decoration: none;
}








