.blog__container {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}


@media (min-width: 768px) {
    .blog__container {
        width: 60%;
    }
}

.blog__lista-artigos {
    list-style-type: none;
    padding: 0;
}

.blog__cartao-artigo {
    display: flex;
    padding: 10px;
}

.blog__cartao-artigo:hover {
    text-decoration: none;
    background-color:rgb(240, 240, 240);
}

.blog__container-imagem {
    
    margin-right: 1em;
}

.blog__artigo-imagem {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.blog__artigo-info {
    color: black;
    font-family: 'Unica One', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; 
    text-transform: uppercase;
}

.blog__artigo-tag {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    font-family: Arial;
    background-color: blue;
    color: white;
    border: navy;
}

.blog__artigo-titulo {
    margin-bottom: 0;
}

.blog__artigo-subtitulo {
    color: grey; font-size: 1.3em;
}