{% extends 'layout.html' %}


{% block conteudo_pagina %}

<div class="artigo__container">
   

    <header class="artigo__cabecalho">
        <img
            class="artigo__cabecalho-imagem"
            src="/static/imagens/artigos/cabecalho/{{artigo.nome_foto}}"
            alt=""
        >
    </header>

    <main class="artigo__container-conteudo">

        <div class="artigo__container-titulo">

            <h1 class="artigo__titulo">
                <span>{{ artigo.titulo|upper }}</span>
            </h1>

            <h1 class="artigo__titulo">
                <span>{{ artigo.subtitulo|upper }}</span>
            </h1>

            <div class="artigo__info">
                <span>{{ artigo.n_palavras }} PALAVRAS ESCRITAS POR {{ artigo.autor.nome }} {{ artigo.autor.sobrenome }} EM{{ moment(artigo.data).format('LLL') }} • ARTE CRIADA POR WESLON SILVA</span>
            </div>

            <div class="artigo__info-tags">
                <span>{% for tag in artigo.tags %} <span style="color: white; background-color: red; border-radius: 5px; padding: 2px; font-weight: bold">{{ tag.nome }}</span> {% endfor %}</span>
            </div>
        </div>


        <div class="artigo__conteudo">


            {{ artigo.conteudo_html|safe }}

            <div style="color: grey; font-size: 2em; margin-top: 1em">
                <i onClick="(function(){
                    alert('Este botão ainda não funciona. Em breve 😉');
                    return false;
                })();return false;" class="far fa-heart"></i>
            </div>

            <div style="margin-bottom: 10px">
                <!-- Your share button code -->
                <div class="fb-share-button" 
                data-href="{{ url_for('blog.artigo', artigo_id=artigo.id) }}" 
                data-layout="button_count">
                </div>
            </div>

            <div>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweetar</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <!-- INFO DO AUTOR -->
            <div class="artigo__info-autor">

                <a class="artigo__link-autor" href="{{ url_for('inicio.usuario', nome_usuario=artigo.autor.nome_usuario) }}">

                    <img class="artigo__imagem-autor" src="{{ url_for('static', filename='imagens/ramon.jpg') }}" alt="">

                    <span style="font-size: 30px">{{ artigo.autor.nome }} {{ artigo.autor.sobrenome }}</span>

                </a>
                
                <p class="artigo__descricao-autor">Ramon produz conteúdo educativo de alta qualidade e gratuito desde 1 de Janeiro de 2016, quando fundou o Aprenda Agora. Ele trabalha diariamente com vários idiomas e atualmente faz pesquisas sobre a interseção entre a linguagem natural e a tecnologia.</p>

                <div class="artigo__autor-redes-sociais ">
                    <i class="fab fa-facebook"></i>&nbsp;&nbsp;<i class="fab fa-instagram"></i>&nbsp;&nbsp;<i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>


        <!-- FORMULÁRIO DE COMENTÁRIOS -->
        <div class="artigo__container-formulario-comentario">
            <span><i class="far fa-comment-alt"></i> {{ artigo.comentarios.count() }} comentários</span>
            
            <!-- Exibe o formulário de login -->
            <form method="POST" action="" class="form artigo__formulario-comentario" role="form">
                {{ formulario.hidden_tag() }}
                {{ exibir_campo_sem_label(formulario.conteudo) }}
                {{ exibir_botao(formulario.enviar) }}
            </form>
        </div>


        <!-- LISTA DE COMENTÁRIOS -->
        <div class="artigo__comentarios">
            {% for comentario in comentarios %}
                <div class="artigo__container-comentario">

                    <div onClick="(function(){
                        alert('Este botão ainda não funciona. Em breve 😉');
                        return false;
                    })();return false;" class="artigo__container-reacao">
                        <i class="fas fa-sort-up"></i>
                        <i class="fas fa-sort-down"></i>
                    </div>

                    <div class="artigo__comentario">
                        
                        <div>{{ comentario.conteudo }}</div>

                        <div class="artigo__comentario-rodape">

                            <a href="{{ url_for('inicio.usuario', nome_usuario=comentario.autor.nome_usuario) }}">
                                
                                <!-- Nome de usuário do autor da publicação -->
                                <span>@{{ comentario.autor.nome_usuario }}</span>   
                            </a>

                            <i class="fa fa-clock"></i> {{ moment(comentario.data).fromNow(refresh=True) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

</div>

{% endblock %}