{% extends 'layout.html' %}


{% block conteudo_pagina %}

<div class="artigo__container">

    <header class="artigo__cabecalho">
        <img
            class="artigo__cabecalho-imagem"
            src="{{ url_for('static', filename='cabecalho1.jpg') }}"
            alt=""
        >
    </header>

    <main class="artigo__container-conteudo">

        <div class="artigo__container-titulo">

            <h1 class="artigo__titulo">
                <span class="artigo__titulo--destaque">{{ artigo.titulo|upper }}</span>
            </h1>

            <h1 class="artigo__titulo">
                <span class="artigo__titulo--destaque">{{ artigo.subtitulo|upper }}</span>
            </h1>

        
            <div class="artigo__info">
                <span>{{ moment(artigo.data).format('LLL') }} • {{ artigo.n_palavras }} PALAVRAS ESCRITAS POR RAMON RODRIGUES • ARTE CRIADA POR WESLON SILVA</span>
            </div>
        </div>


        <div class="artigo__conteudo">
            {{ artigo.conteudo_html|safe }}
        </div>
    </main>

</div>

{% endblock %}