{% from "auxiliares/jinja_auxiliares.html" import exibir_campo %}


{% macro exibir_formulario_escrever_artigo(formulario) %}
<form action="" method="post" enctype="multipart/form-data">

    {{ formulario.hidden_tag() }}

    {{ exibir_campo(formulario.foto) }}

    <!-- Exibe o input do título da publicação -->
    {{ exibir_campo(formulario.titulo) }}

    {{ exibir_campo(formulario.subtitulo) }}


    <div class="form-group">

        <!-- Exiba o nome do campo -->
        <label class="text-dark" for="conteudo">Conteúdo da Artigo</label>
    
        <!-- Se houver erros vinculados ao campo -->
    
        <!-- Exiba o campo normalmente -->
        <div class="flask-pagedown">
            <textarea class="form-control mb-5 flask-pagedown-input" id="flask-pagedown-conteudo" name="conteudo" required></textarea>
        </div>

        <div class="flask-pagedown-preview" id="flask-pagedown-conteudo-preview">
            <h4 id="titulo-preview"></h4>
            <div id="conteudo-preview"></div>
        </div>

        <script type="text/javascript">

        f = function() {

            if (typeof flask_pagedown_converter === "undefined")
            {
                flask_pagedown_converter = Markdown.getSanitizingConverter().makeHtml;
            }

            /* Seleciona o input do titulo da publicação */
            let titulo_input = document.querySelector('#titulo');

            /* Seleciona o preview da publicacao */
            let conteudo_input = document.querySelector('#flask-pagedown-conteudo');

            /* Seleciona o preview da publicacao */
            let conteudo_preview = document.querySelector('#conteudo-preview');

            /* Seleciona o preview da publicacao */
            let publicacao_preview = document.querySelector('#flask-pagedown-conteudo-preview');

            let titulo_preview = document.querySelector('#titulo-preview');



            titulo_input.addEventListener('keyup', () => {
            
                titulo_preview.innerHTML = titulo_input.value;

                if (titulo_input.value == '' && conteudo_input.value == '')
                {
                    publicacao_preview.style.visibility = 'hidden';
                }
                else
                {
                    publicacao_preview.style.visibility = 'visible';
                }
            })

            conteudo_input.addEventListener('keyup', () => {

                conteudo_preview.innerHTML = flask_pagedown_converter(conteudo_input.value);

                if (titulo_input.value == '' && conteudo_input.value == '')
                {
                    publicacao_preview.style.visibility = 'hidden';
                }
                else
                {
                    publicacao_preview.style.visibility = 'visible';
                }
            })
        }

        if (document.readyState === 'complete')
            f();
        else if (window.addEventListener)
            window.addEventListener("load", f, false);
        else if (window.attachEvent)
            window.attachEvent("onload", f);
        else
            f();

        </script>
    
    </div>


    <!-- Seção do formulário com caixas de seleção das tags e botão de enviar -->
    <div class="form-row p-0">

        <!-- Exibe as tags -->
        {{ exibir_campo_selecao_tag_blog(formulario.tags) }}

        <!-- Exibe o botão enviar -->
        <div class="col-sm-4 mt-0 pl-3 mt-2 mt-sm-0">
            <button
                id="btnEnviarPost"
                type="submit"
                class="btn btn-primary
                float-sm-right p-5
                ">Publicar <i class="fa fa-paper-plane"></i>
            </button>
        </div>
    </div>

</form>
{% endmacro %}
