

/*******************************************************************************************/
/***************************************** FONTES ******************************************/
/*******************************************************************************************/

@font-face {
    font-family: 'Merienda';
    src: url('fontes/merienda/Merienda-Bold.eot'); /* IE9 Compat Modes */
    src: url('fontes/merienda/Merienda-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fontes/merienda/Merienda-Bold.woff') format('woff'), /* Modern Browsers */
         url('fontes/merienda/Merienda-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fontes/merienda/Merienda-Bold.svg#svgMerienda') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Unica One';
    src: url('fontes/unica_one/UnicaOne-Regular.eot'); /* IE9 Compat Modes */
    src: url('fontes/unica_one/UnicaOne-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fontes/unica_one/UnicaOne-Regular.woff') format('woff'), /* Modern Browsers */
         url('fontes/unica_one/UnicaOne-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fontes/unica_one/UnicaOne-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('fontes/roboto_slab/RobotoSlab-Regular.eot'); /* IE9 Compat Modes */
    src: url('fontes/roboto_slab/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fontes/roboto_slab/RobotoSlab-Regular.woff') format('woff'), /* Modern Browsers */
         url('fontes/roboto_slab/RobotoSlab-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fontes/roboto_slab/RobotoSlab-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* FIM DEFINIÇÃO DAS FONTES */