/*

--- SEÇÕES COMUNS ---

GLOBAL
Configurações Globais

UTILIDADES
Cores, Bordas, Padding, Margens, Fonte, Tamanho da Fonte, 

BARRA DE NAVEGAÇÃO
Barra de navegação Mobile e Desktop

SEÇÃO PRINCIPAL
Container da Seção Principal do Site

RODAPE
Rodapé com Informações Adicionais

--- SEÇÕES ESPECÍFICAS ---

PÁGINA DE PERFIL DE USUÁRIO

MURAL DE PUBLICAÇÕES

PUBLICAÇÃO NO MURAL

MODAL DE PUBLICAÇÃO

PAGINAÇÃO DO MURAL

PÁGINA DA PUBLICAÇÃO

*/


/*

Tarefas:

[ ] - Comentar seção Navbar Mobile
[ ] - Comentar seção Navbar Desktop

*/


/* --------------------------------------------------------------------------------------- */

#ultimas-publicacoes {
    font-family: "Unica One", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#ultimas-publicacoes h3 {
    text-transform: uppercase;
}

.div-imagem-curso {
    text-align: center;
    border: 1px rgb(207, 207, 207) solid;
}

.imagem-curso {
    width: 100%;
}


.altura-50 {
    height: 50%;
}


.elemento-1px-abaixo {
    position: relative;
    top: 1px;
}


/* ------------------------------------------------------- */


.container-formulario-edicao {
    position: relative;
    display: block;
    height: 0%;
    visibility: hidden;
}


@keyframes container-formulario-edicao-expandindo {

    0% {height: 0%; margin-bottom: 0rem;}
    99% {visibility: hidden;}
    100% {height: 100%; visibility: visible;  margin-bottom: 5rem;}
}

.container-formulario-edicao-expandindo {
    animation-name: container-formulario-edicao-expandindo;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.container-formulario-edicao-expandido {
    position: relative;
    display: block;
    visibility: visible;
    height: 100%;
    margin-bottom: 5rem;
}


/* ------------------------------------------------------- */


@keyframes container-formulario-edicao-encolhendo {

    0% {height: 100%; margin-bottom: 5rem;}
    100% {height: 0%; margin-bottom: 0rem;}
}

.container-formulario-edicao-encolhendo {
    animation-name: container-formulario-edicao-encolhendo;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}


/* ------------------------------------------------------- */


.div-formulario {

    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    padding: 0rem;

    width: 2px;
    height: 2px;
    transition: width 0.1s, height 0.1s, padding 0.05s;
}

.div-formulario-expandindo {

    padding: 1rem;
    width: 100%;
    height: 100%;
}


.checkbox-tag-edicao {
    position: relative;
    top: 3px;
}





/* GLOBAL */

/* Esconde a barra de scroll (mas scroll ainda fica habilitado) */
body::-webkit-scrollbar {display:none;}

p {
    overflow-wrap: break-word;
}

/* Remove padding da lista de publicação no mural */
ul {
    padding: 0;
    margin: 0;
}

/* Garante que as listas dentros dos cartões das publicação no mural tenham padding correto e não fiquem fora do cartão */
div.paragrafo-publicacao > ul {
    padding-inline-start: 40px;
}


.tags-container {
    position: relative;
    bottom: 1px;
    margin-left: 5px;
}

#container-pagina-publicacao {
    margin: 1em auto;
}

@media only screen and (min-width: 768px) {

    #container-pagina-publicacao {
        width: 80%;
        margin: 3em auto;
    }
}

.tags-envelope-publicacao {
    position: relative;
    bottom: 1px;
}

/* FIM ESTILIZAÇÃO GLOBAL */



/* --------------------------------------------------------------------------------------- */



/* UTILIDADES */

/* Fundo cinza 1 */
.bg-grey1 {
    background-color: #f0f0f0;
}

/* Fundo cinza 2 */
.bg-grey2 {
    background-color: #c4c4c4;
}

/* Fundo cinza 3 */
.bg-grey3 {
    background-color: #858585;
}


.borda-sub-menu {
    border-bottom: 1px rgb(107, 107, 107) solid;
}

.margem-secao-principal {
    padding-top: 3em;
}

/* FIM ESTILIZAÇÃO DAS UTILIDADES */



/* --------------------------------------------------------------------------------------- */



/* BARRA DE NAVEGAÇÃO MOBILE */


#nav-desktop {
    display: none;
}

/* Em telas a partir do tamanho médio, a barra de navegação desktop é exibida */
@media only screen and (min-width: 768px) {

    #nav-mobile {
        display: none;
    }
    

    #nav-desktop {
        display: block;
    }
}


#barra-navegacao {
    padding: 0px 0px 0 0px;
    background-color: #29ba13;
    overflow: visible;
    color: white;
    font-size: 2.5em;
}

#barra-navegacao > div.col {
    padding: 5px;
}

#barra-navegacao > div.col:hover {
    background-color: rgb(11, 110, 11);
}

#barra-navegacao a {
    color: white;
}

#barra-navegacao > * {
    padding: 0;
    margin: 0;
}

#barra-navegacao .logo-span {
    padding: 6px 8px;
    font-weight: bold;
    text-shadow: black 1px 1px;
    font-size: 1.7rem;
    border-radius: 50px;
}


.navbar-toggler {
    border: white 1px solid!important;
}

.navbar-toggler-icon {
    border: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-sub-lista  li {
    font-family: 'Unica One', cursive;
    font-size: 2rem; 
    text-align: center;
    padding: 0.5em;
}

.navbar-sub-lista  a {
    color: black;
}

.navbar-sub-lista  li {
    color: black;
}

.navbar-sub-lista  a:hover {
    text-decoration: none;
    background-color: rgb(223, 223, 223);
}

.navbar {
    font-family: 'Unica One', cursive;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}


.dropdown-menu { 
    padding: 0;
}

.dropdown-item {
    margin: 0;
    padding: 8px 8px 8px 12px;
}

#botao-pesquisa {
    border: 1px white solid;
}


/* FIM BARRA DE NAVEGAÇÃO MOBILE */



/* --------------------------------------------------------------------------------------- */



/*  BARRA DE NAVEGAÇÃO DESKTOP  */


#barra-navegacao-desktop {
    padding: 0px;
    background-color: #29ba13;
    overflow: visible;
    font-size: 1em;
}

#barra-navegacao-desktop > * {
    padding: 0;
    margin: 0;
}

#barra-navegacao-desktop a {
    color: white;
}

#barra-navegacao-desktop .logo-span {
    padding: 3px 5px;
    font-weight: bold;
    text-shadow: black 1px 1px;
    font-size: 1.3rem;
    border-radius: 50px;
}


#barra-navegacao-desktop .dropdown-item {
    color: rgb(61, 61, 61);
}



.navbar-brand-desktop {
    font-family: 'Merienda', cursive;
    text-shadow: black 1px 1px;
}

.navbar-brand-desktop span {
    background-color: rgb(30, 172, 2);
    border:white 1px solid;
    border-radius: 20px;
    padding: 3px 5px;
}

.nav-item-desktop {
    text-align: center;
    border: 0px;
    border-radius: 0px;
    border-bottom: 2px #29ba13 solid;
}


.nav-item-desktop:hover {
    background-color: rgb(255, 255, 255);
    border-bottom: 2px green solid;
}


.nav-item-desktop:hover a {
    color: rgb(37, 37, 37)!important;
}



.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.navbar-toggler-icon-desktop {
   border: white 1px solid;
}

/* FIM BARRA DE NAVEGAÇÃO DESKTOP */



/* --------------------------------------------------------------------------------------- */



/* SEÇÃO PRINCIPAL */

/* Padding lateral em telas pequenas */
#secao-principal {
    padding-left: 1rem;
    padding-right: 1rem;

}

/* Padding lateral em telas grandes */
@media only screen and (min-width: 768px) {
   
    #secao-principal {
        
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

/* Margem 0 no Grid */
.row {
    margin: 0 auto;
}



/* ESTILIZAÇÃO DA IMAGEM DE FUNDO DO SITE */

/* A imagem de fundo foi removida, portanto as configurações abaixo não estão sendo usadas */

/* Imagem no fundo da seção principal */
#wallpaper {
    /* Define regras para preencher o fundo */
    min-height: 100%;
    min-width: 1024px;

    /* Define redimensionamento proporcional */
    width: 100%;
    height: auto;

    /* Define posicionamento */
    position: fixed;
    top: 0;
    left: 0;

    /* Garante que o papel de fundo ficará no fundo */
    z-index: -5;
}

/* Exibe a imagem de fundo de forma mais atraente em dispositivos com telas menores que 1024 */
@media screen and (max-width: 1024px) { /* Específico para esta imagem */
  #wallpaper {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/* FIM SEÇÃO PRINCIPAL */



/* --------------------------------------------------------------------------------------- */



/* RODAPÉ */


footer {
    margin: 20px;
    background-color: #555555;
}

.footer-heading {
    font-family: 'Roboto Slab', serif;
    color: grey;
    font-size: .8em;
}

footer .fa {
    margin-right: 10px;
}

footer li.list-group-item {
    border: none;
}

/* FIM RODAPÉ */



/* --------------------------------------------------------------------------------------- */



/* PÁGINA DE PERFIL DO USUÁRIO */

/* Crachá do usuário (avatar e nome de usuário) na página de perfil */
.chacha-perfil {
    position: absolute;
}

/* Cabeçalho da informação de perfil */
.profile-header {
    min-height: 100px;
    margin-left: 120px;
}

/* FIM PÁGINA DE PERFIL DO USUÁRIO */



/* --------------------------------------------------------------------------------------- */


/* MURAL DE PUBLICAÇÕES */


/* Visualização de uma publicação sendo escrita */
.flask-pagedown-preview {

    /* O preview do conteúdo é inicializado como 'hidden' para que ele não seja exibido se conteúdo quando a página carregar */
    visibility: hidden;

    /* Bordas, fundo, curvatura das bordas e padding estilizados de forma aparecer-se com o modal   */
    border: 1px rgb(5, 192, 5) solid;
    background-color: rgb(255, 255, 255);
    border-radius: 0.2rem;
    padding: 1em;
}


#conteudo-preview ul {
    padding-left: 2em;
}


#conteudo-preview blockquote {
    padding-left: 3em;
    font-size: 1em;
}


#lista-publicacoes {
    /* Remove a estilização de ponto das publicações da lista */
    list-style-type: none;
}

/* FIM MURAL DE PUBLICAÇÕES */



/* --------------------------------------------------------------------------------------- */



/* PUBLICAÇÃO NO MURAL */


.publicacao-mural:hover {
    /* Para indicar que a publicação é clicável*/
    cursor: pointer;
    
}

/* Botão de editar publicação e botão de apagar publicação */
.opcoes-publicacao {
    display: flex;
    justify-content: flex-end;
}

/* Botão que indica que o cliente é o autor da publicação */
.icone-editar-publicacao {
    text-align: center;
    line-height: 1em;
    font-size: 1em;
    color: rgb(75, 75, 75);
}


/* Botão para o autor de uma publicação apagar a publicação */
.icone-apagar-publicacao {
    text-align: center;
    line-height: 1em;
    font-size: 1.3em;
    color: rgb(248, 31, 31);
    border-radius: 3px;
}

/* Reduz o tamanho dos Headings presentes no certão da publicação para que a exibição dos Headings no mural não fiquem com um tamanho grande  */
.paragrafo-publicacao h1, h2, h3 {
    font-size: 1.5rem;
}


.rodape-publicacao {
    
    /* Display: table; está sendo usado para que a classe .perfil-autor-link possa ter height 100% */
    display: table;

    /*overflow: hidden;*/
}

.perfil-autor-link {
    /* Display:table-cell; está sendo usado para que o elemento possa ter height 100% */
    display: table-cell;
    height: 100%;
}

.perfil-autor-link a:hover {
    /* Remove o sublinhado no link do autor da publicação durante evento 'hover' */
    text-decoration: none;
}

.bandeira-idioma {

    /* Bandeira posicionada 2 pixels acima abaixo */
    position: relative;
    top: 2px;
    font-size: 18px;
}

.opcoes-reagir {

    /* Opções de "comentário" e "amei" posicionado 1 pixel abaixo */
    position: relative;
    top: 1px;
}

/* FIM PUBLICAÇÃO NO MURAL*/


/* --------------------------------------------------------------------------------------- */


/* MODAL DA PUBLICAÇÃO COM CONTEÚDO COMPLETO E COMENTÁRIOS DE UMA PUBLICAÇÃO */

.modal {

    /*
        Posição, referência ao lado esquerdo, referência ao lado direito, largura e altura definidas de forma que o modal preencha a tela toda
    */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    /*
        Cor de fundo verde e levemente transparente para que o modal da publicação não perca o contexto em que está inserido (o usuário ainda consegue ver parte das publicações atrás do modal)
    */
    background-color: rgba(60, 153, 42, 0.9);
    
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}


.exibir-modal {

    /* Classe adicionada ao modal (através do script JS) para que ele seja exibido após as configurações forem definidas */
    
    display: block;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.5s 0s, transform 0.25s;
}


.publicacao-modal {
    /* Cores */
    border: 1px rgb(0, 245, 0) solid;
    background-color: rgb(255, 255, 255);
    /* Largura e altura */
    width: 2px;
    height: 2px;

    overflow: auto;
    
    /* Estas definições dos atributos position, top, left, e transform garantem que o container da publicação seja centralizado no modal*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: width 0.1s, height 0.1s;
}

/* Remove a barra de scroll (mas funcionalidade de scroll ainda fica habilitada) */
.publicacao-modal::-webkit-scrollbar {display:none;}


/* Configurações dos elementos secundários da publicação no modal */
.publicacao-modal img.avatar-autor {

    width: 18px;
    display: inline-block;
}

.publicacao-modal ul {
    padding-left: 3em;
}

.publicacao-modal blockquote {
    padding-left: 3em;
    font-size: 0.9em;
}
/* FIM Configurações secundárias da publicação no modal */


.padding-publicacao-modal {
    /*
        Padding adiciona à publicação no modal após a animação de redimensionamento iniciar
        Dessa forma, a animação inicia com a publicação sem padding (o que influenciaria nas dimensões da publicação)    
    */
    padding: 15px;
}

.icone-idioma-modal {
    /* Margem à esquerda para que a bandeira não fique colada à data da publicação */
    margin-left: 5px;
}

.botao-fechar {
    position: absolute;
    text-align: center;
    cursor: pointer;
    color: white;
    
    z-index: 100;

    border-radius: 1rem;
}

.botao-fechar:hover {
    background-color: rgb(90, 88, 88);
}



/* EM TELAS PEQUENAS */
@media only screen and (max-width: 767px) {


    .publicacao-modal {
        /* Curvatura das bordas */
        border-radius: 0.5rem;
    }

    .publicacao-modal-expandido {
        /* Publicação ocupa quase a tela toda */
        width: 95%;
        height: 95%;
    }
    
    .botao-fechar {

        /* Cores */
        background-color: rgb(122, 121, 121);
        border: white 1px solid;

        /* Botão posicionado no canto inferior esquerdo */
        bottom: 4px;
        left: 4px;

        /* Tamanho do botão */
        width: 2rem;
        line-height: 2rem;
        font-size: 2rem;
    }
}

/* EM TELAS LARGAS */
@media only screen and (min-width: 768px) {

    .publicacao-modal {
        /* Curvatura das bordas */
        border-radius: 0.2rem;
    }

    .publicacao-modal-expandido {
        /* Publicação com largura igual a "metade" do modal */
        width: 60%;
        height: 95%;
    }

    .botao-fechar {

        position: absolute;

        /* Botão posicionado no canto superior direito */
        top: 10px;
        right: 10px;

        /* Tamanho 0.5rem menor do que em telas pequenas */
        width: 1.5rem;
        line-height: 1.5rem;
        font-size: 1.5rem;  
    }
}

/* Remove a funcionalidade de scroll */
.body-no-scroll {
    overflow-y: hidden;
}

/* Devolve a funcionalidade de scroll (entretanto a barra de scroll não é exibida pois ela foi "escondida" na seção GLOBAL) */
.body-scroll {
    overflow-y: visible;
}


/* FIM MODAL DE PUBLICAÇÃO */



/* --------------------------------------------------------------------------------------- */



/* PAGINAÇÃO DO MURAL */

ul.paginacao {
    display: table;
    margin: 0 auto;
}

ul.paginacao > a:hover {
    text-decoration: none;
}


.paginacao li {

    font-weight: bold;

    border: grey 1px solid;

    display:table-cell;

    vertical-align: middle;

    text-align: center;
    background-color: white;
    width: 30px;
    height: 30px;
}

.ativo {
    color: black;
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
}

.desabilitado {
    color: grey;
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
}

/* FIM PAGINAÇÃO MURAL */


