{% extends 'layout.html' %}

<!-- Cabeçalho (que também é usado no título da barra do navegador)-->
{% block cabecalho %}
    <h1>{% block titulo %}Início{% endblock %}</h1>
{% endblock %}

{% block conteudo_pagina %}

    <h2>Olá, {% if nome %}{{ nome_usuario }}{% else %}visitante{% endif %}!</h2>

    <!-- Se nao houver uma seção gravada-->
    {% if not secao_gravada %}
        <p>Prazer em te conhecer!</p>
    <!--- Se houver uma seção gravada-->
    {% else %}
        <p>Seja bem-vindo novamente!</p>
    {% endif %}
    

    <hr>
    
    <p>A data e horário local é {{ moment(current_time).format('LLL') }}.</p>
    <p>Isso foi {{ moment(current_time).fromNow(refresh=True) }}</p>
    
    <hr>

    <form method="POST">
        {{ formulario.hidden_tag() }}
        {{ formulario.nome.label }}
        <br>
        {{ formulario.nome }}
        <br>
        {{ formulario.enviar() }}
    </form>

{% endblock %}
