<footer id="secao-rodape"  class='m-0 pt-5 pb-5 mt-5'>
    <div class="row">

        <div class="col-sm-4"></div>

        <div class="col-sm-4">
            <span class="footer-heading text-white">LINKS ADICIONAIS:</span>
            <ul id="listaLinksAdicionais" class="list-group">
                <li class="list-group-item"><a href="""><i class="fa fa-info-circle"></i>Sobre</a></li>
                <li class="list-group-item"><a href=""><i class="fa fa-phone"></i>Contato</a</li>
                <li class="list-group-item"><a href=""><i class="fa fa-users"></i>Equipe</a></li>
            </ul>
            
        </div>

        <div class="col-sm-4">
            <span class="footer-heading text-white">MAIS DO A+:</span>
            <ul id="listaRedesSociais" class="list-group">
                <li class="list-group-item"><a href="https://www.facebook.com/Aprenda-Agora-111333700693507"><i class="fa fa-facebook-f"></i>Facebook</a></li>
                <li class="list-group-item"><a href="https://www.instagram.com/aprendaagora"><i class="fa fa-youtube"></i>Instagram</a></li>
                <li class="list-group-item"><a href="https://www.youtube.com/channel/UCo-122KSpoYersHovXL3Tow/about?view_as=subscriber"><i class="fa fa-instagram"></i>YouTube</a></li>
                <li class="list-group-item"><a href="https://www.twitter.com/agoraaprenda"><i class="fa fa-twitter"></i>Twitter</a></li>
            </ul>
        </div>

    </div>
</footer>