<!-- Scripts no final do documento -->

<script src="../../static/js/jquery-3.5.1.js"></script>

<script src="../../static/js/popper.min.js"></script>

<script src="../../static/js/bootstrap.min.js"></script>

<!--  Módulo para converter HTML para Markdown durante edição de uma publicação no mural -->
<script src="../../static/js/turndown.js"></script>

<!--
    Script personalizado que contém

    1. Configuração da barra de navegação mobila
    2. Configuração das publicações e seus modais no mural
-->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<script src="{{ url_for('static', filename='js/navbar-mobile.js') }}"></script>