{% extends 'layout.html' %}

{% block titulo %}Editar Perfil{% endblock %}

{% block cabecalho %}
<h1>Edite seu perfil e salve as alterações</h1>
{% endblock %}

<!-- Conteúdo da Página-->
{% block conteudo_pagina %}

    <!-- Se o cliente não for ADMINISTRADOR -->
    {% if not current_user.e_administrador() %}

        <!-- Exibe o formulário de login -->
        <form method="POST" action="" class="form" role="form">

            {{ formulario.hidden_tag() }}
            
            {{ exibir_campo(formulario.nome_usuario) }}

            {{ exibir_campo(formulario.nome) }}

            {{ exibir_campo(formulario.sobrenome) }}

            {{ exibir_campo(formulario.localizacao) }}

            {{ exibir_campo(formulario.sobre) }}

            {{ exibir_botao(formulario.enviar) }}

        </form>
    
    <!-- Se o cliente for ADMINISTRADOR-->
    {% else %}

        <form method="POST" action="" class="form" role="form">

            {{ formulario.hidden_tag() }}

            {{ exibir_campo(formulario.email) }}
            
            {{ exibir_campo(formulario.nome_usuario) }}

            {{ exibir_campo(formulario.confirmado) }}

            {{ exibir_campo(formulario.role) }}

            {{ exibir_campo(formulario.nome) }}

            {{ exibir_campo(formulario.sobrenome) }}

            {{ exibir_campo(formulario.localizacao) }}

            {{ exibir_campo(formulario.sobre) }}

            {{ exibir_botao(formulario.enviar) }}

        </form>
        
    {% endif%}

{% endblock %}