{% extends 'layout.html' %}


{% block conteudo_pagina %}

<div id="mural">

    <!-- Se o cliente tiver permissão para escrever no mural -->
    {% if current_user.pode(Permissao.ESCREVER_MURAL) %}

        <!-- Container do formulário do MURAL-->
        <div class="bg-white border rounded mb-3 p-2">
            
            <!-- Título -->
            <h5 class="text-dark text-shadow">Faça uma publicação no mural</h5>

            <!-- Exibe o formulário para publicar no mural -->
            {{ exibir_formulario(formulario) }}
            
        </div>
    {% endif %}

    <!-- Lista de publicações no MURAL -->
    <ul id="lista-publicacoes" class="row w-100 posts">

        <!-- Para cada par publicação-autor -->
        {% for publicacao, autor in publicacoes %}

            <!-- Exiba a publicação -->
            {{ exibir_publicacao(publicacao, autor) }}
        {% endfor %}
    </ul>

    <div class="paginacao mt-5">
        {{ ferramenta_paginacao_mural(paginacao, '.inicio') }}
    </div>
    
    
</div>

{% endblock %}
