{% extends "bootstrap/base.html" %}

<!-- Extensão para gerenciar Formulários -->
{% import "bootstrap/wtf.html" as wtf %}

<!-- Macros específicos das páginas de idiomas -->
{% from "auxiliares/jinja_auxiliares.html" import exibir_formulario %}
{% from "auxiliares/jinja_auxiliares.html" import exibir_campo %}
{% from "auxiliares/jinja_auxiliares.html" import exibir_campo_selecao_tag %}
{% from "auxiliares/jinja_auxiliares.html" import exibir_botao %}
<!--
    Para que a função tenha acesso à current_user (que é comparado ao autor da publicação e assim se determina se os botões editar e apagar a publicação serão exibidos) é necessário importar a função fornecendo o contexto do template para o qual a função está sendo importada 
    Isso é indicado com 'with context' -->
{% from "auxiliares/jinja_auxiliares.html" import exibir_publicacao with context %}

{% from "auxiliares/jinja_auxiliares.html" import exibir_publicacao_perfil with context %}

{% from "auxiliares/jinja_auxiliares.html" import ferramenta_paginacao_mural %}

<!-- Seção HEAD -->
{% block head %}
    
    <title>{% block titulo %}{% endblock %} - Aprenda Agora</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <!-- Bootstrap BSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Fonte Roboto Slab -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    <!-- Fonte Unica One -->
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
    <!-- Fonte Merienda-->
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">

    <!-- Ícones -->
    <script src="https://use.fontawesome.com/e7993babb1.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang('pt-br') }}
{% endblock %}

<!-- Barra de Navegação-->
{% block navbar %}
    {% include 'componentes/navbar.html' %}
{% endblock %}

<!-- Bloco de Conteúdo (entre a barra de navegação e o rodapé) -->
{% block content %}

    <!-- Imagem de fundo-->
    <!--<img id="wallpaper" src="{{ url_for('static', filename='wallpaper4.jpg')}}" alt="">

    <!-- Bloco conteudo_pagina e lista de notificações -->
    <div id="secao-principal">

        <!-- Exibe mensagens de erro, avisos, etc (notificações) -->
        <div id="lista-de-avisos" class="">

            <!-- Para cada mensagem declarada -->
            {% for mensagem in get_flashed_messages() %}
            <div class="alert alert-warning">
                <!-- Exiba a mensagem em um alerta -->
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ mensagem }}
            </div>
            {% endfor %}
        </div>
        

        <main class="m-0">
            <!-- Conteúdo da Página-->
            {% block conteudo_pagina %}
            {% endblock %}
        </main>
    </div>

    <!-- Rodapé (Footer) -->
    {% block rodape %}
        {% include 'componentes/rodape.html' %}
    {% endblock %}

{% endblock %}



<!-- Scripts presentes no final do body -->
{% block scripts %}

    {% include 'componentes/scripts.html' %}

    {{ pagedown.include_pagedown() }}  

    <!--
    Script personalizado que contém

    1. Configuração da barra de navegação mobila
    2. Configuração das publicações e seus modais no mural

    -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
