{% extends "bootstrap/base.html" %}

<!-- Extensão para gerenciar Formulários -->
{% import "bootstrap/wtf.html" as wtf %}

{% from "auxiliares/jinja_auxiliares.html" import exibir_campo %}
{% from "auxiliares/jinja_auxiliares.html" import exibir_botao %}

<!-- Seção HEAD -->
{% block head %}
    
    <title>{% block titulo %}{% endblock %} - Aprenda Agora</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <!-- Bootstrap BSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Fonte Roboto Slab -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    <!-- Fonte Unica One -->
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
    <!-- Fonte Merienda-->
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">

    <!-- Ícones -->
    <script src="https://use.fontawesome.com/e7993babb1.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang('pt-br') }}
{% endblock %}

<!-- Barra de Navegação-->
{% block navbar %}
    {% include 'componentes/navbar.html' %}
{% endblock %}

<!-- Bloco de Conteúdo (entre a barra de navegação e o rodapé) -->
{% block content %}

<div class="container">

    <!-- Exibe mensgens de erro, avisos, etc -->
    <div id="listaDeAvisos" class="mt-3">
        {% for mensagem in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ mensagem }}
        </div>
        {% endfor %}
    </div>
    

    <!-- Cabeçalho com Título-->
    <div class="page-header text-center mt-3 mb-3">
        {% block cabecalho %}
        {% endblock %}
    </div>

    <main class="w-80 mx-auto mb-5">
        <!-- Conteúdo da Página-->
        {% block conteudo_pagina %}
        {% endblock %}
    </main>
</div>

{% endblock %}

<!-- Rodapé (Footer) -->
{% block rodape %}
    {% include 'componentes/rodape.html' %}
{% endblock %}

<!-- Scripts presentes no final do body -->
{% block scripts %}
    {% include 'componentes/scripts.html' %}   
{% endblock %}
