{% extends 'layout.html' %}

{% block titulo %}Inscrição para cursos presenciais em Feu Rosa{% endblock %}

{% block head %}
{{ super() }}

<style>
    body {
        background-color: #229c2e;
        color: white;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }

    #titulo {
        text-shadow: black 2px 2px;
        font-family: 'Merienda One', cursive;
    }

    a {
        color: white;
    }

    a:visited {
        color: white;
    }

    h1 {
        font-size: 64pt;
    }

    h2 {
        font-size: 32pt;
    }
</style>

{% endblock %}



<!-- Barra de Navegação-->
{% block navbar %}
{% endblock %}

{% block conteudo_pagina %}


<h1 id="titulo" class="mb-4">Aprenda Agora</h1>


<div class="container-formulario mb-4">

    <h3 class="text-white w-50 mx-auto mb-2">Faça sua inscrição para os cursos GRATUITOS no bairro Feu Rosa</h3>


    <form action="" class="form bg-light text-dark border m-auto w-50 p-2 rounded" method="POST" action="" role="form" >
    

        {{ formulario.hidden_tag() }}

        {{ exibir_campo(formulario.nome) }}

        {{ exibir_campo(formulario.email) }}

        {{ exibir_campo(formulario.numero_telefone) }}




        {{ exibir_botao(formulario.enviar) }}





        <!-- Nome 
        <div class="form-group mb-4">
    
            <label for="campo-nome">Nome e Sobrenome</label>
    
            <input name="campo-nome" type="text" class="form-control" id="campo-nome" placeholder="Escreva seu nome e sobrenome">
        </div>
    
         
        <div class="form-group mb-4">
    
            <label for="campo-email">Email</label>
    
            <input name="campo-email" type="email" class="form-control" id="campo-email" aria-describedby="email-info" placeholder="Escreva seu email">
    
            <p id="email-info" class="form-text text-primary">Escreva um email que você usa pois nós enviaremos materiais de estudo e outros documentos através do email.</p>
        </div>
    
        <div class="form-group mb-4">
    
            <label for="campo-numero-telefone">Número de Telefone (WhatsApp)</label>
    
            <input name="campo-numero-telefone" type="text" class="form-control" id="campo-numero-telefone" aria-describedby="numero-telefone-info" placeholder="Escreva seu número de telefone (WhatsApp)">
    
            <p id="numero-telefone-info" class="form-text  text-primary">Entraremos em contato com os interessados em fazer os cursos através do WhatsApp.</p>
        </div>
        
        <div class="container-opcoes-cursos border w-50 mx-auto mb-3 text-left bg-white p-2 rounded">

            <p class="text-center">Opção de curso</p>

            <div class="form-check">
    
                <input name="opcoes-cursos" class="form-check-input" type="radio" value="ingles" id="opcao-curso-ingles">
        
                <label class="form-check-label text-dark" for="opcao-curso-ingles">Inglês 🇺🇸</label>
            </div>
        
            <div class="form-check">
        
                <input name="opcoes-cursos" class="form-check-input" type="radio" value="frances" id="opcao-curso-frances">
        
                <label class="form-check-label text-dark" for="opcao-curso-frances">Francês 🇫🇷</label>
            </div>
        
            <div class="form-check">
        
                <input name="opcoes-cursos" class="form-check-input" type="radio" value="computacao" id="opcao-curso-computacao">
        
                <label class="form-check-label text-dark" for="opcao-curso-computacao">Ciências da Computação 💻</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary"><b>ENVIAR INSCRIÇÃO</b></button>

        -->
    
    </form>
</div>


<h2><a href="https://www.youtube.com/channel/UCo-122KSpoYersHovXL3Tow">Canal no Youtube <i class="fa fa-youtube"></i></a></h2>
<h2><a href="https://www.instagram.com/aprendaagora">Instagram <i class="fa fa-instagram"></i></a></h2>



{% endblock %}


<!-- Rodapé (Footer) -->
{% block rodape %}
{% endblock %}
