{% extends 'layout.html' %}

{% block titulo %}Inscrição para cursos presenciais em Feu Rosa{% endblock %}

{% block head %}
{{ super() }}

<style>
    body {
        background-color: #229c2e;
        color: white;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }

    #titulo {
        text-shadow: black 2px 2px;
        font-family: 'Merienda One', cursive;
    }

    a {
        color: white;
    }

    a:visited {
        color: white;
    }

    h1 {
        font-size: 64pt;
    }

    h2 {
        font-size: 32pt;
    }
</style>

{% endblock %}



<!-- Barra de Navegação-->
{% block navbar %}
{% endblock %}

{% block conteudo_pagina %}

<div style="background-color: #229c2e;">

<h1 id="titulo" class="mb-4">Aprenda Agora</h1>


<div id="container-formulario-inscricao-curso" class="mb-4">

    <h3 class="text-white mx-auto mb-5">Faça sua inscrição para os cursos GRATUITOS no bairro Feu Rosa</h3>


    <form id="formulario-curso" class="form bg-light text-dark border m-auto p-2 rounded" method="POST" action="" role="form">
    

        {{ formulario.hidden_tag() }}

        {{ exibir_campo(formulario.nome) }}

        {{ exibir_campo(formulario.email) }}

        {{ exibir_campo(formulario.numero_telefone) }}

        {{ exibir_campo(formulario.opcao_curso) }}

        {{ exibir_campo(formulario.horario) }}

        {{ exibir_botao(formulario.enviar) }}

    </form>
</div>


<h3><a href="https://www.youtube.com/channel/UCo-122KSpoYersHovXL3Tow">Canal no Youtube <i class="fa fa-youtube"></i></a></h3>
<h3><a href="https://www.instagram.com/aprendaagora">Instagram <i class="fa fa-instagram"></i></a></h3>

</div>

{% endblock %}


<!-- Rodapé (Footer) -->
{% block rodape %}
{% endblock %}
