{% extends 'layout.html' %}

{% block conteudo_pagina %}

    <div id="infoPerfil" class="page-header p-3 position-relative">

        <div style="display: flex; flex-direction: row-reverse;">
            <!-- Se a página de perfil for da conta do cliente-->
            {% if usuario == current_user %}
                <a class="btn btn-dark btn-sm"
                href="{{ url_for('.editar_perfil')}}"><i class="fa fa-cog"></i></a>
            {% endif %}

            <!-- Se o cliente for ADMINISTRADOR -->
            {% if current_user.e_administrador() %}
                <a href="{{ url_for('.editar_perfil_admin', id=usuario.id) }}"
                class="btn btn-danger btn-sm"><i class="fa fa-cog"></i></a>
            {% endif %}
        </div>

        <div style="display: flex; flex-direction: row;">

            <div class="cracha-perfil" style="padding: 5px">
                <img src="{{ usuario.gravatar(size=100) }}" alt="" class="img-rounded profile-thumbnail">
    
                <span class="d-block pt-1">
                    <a href="{{ url_for('inicio.usuario', nome_usuario=usuario.nome_usuario)}}">
                        @{% block titulo %}{{ usuario.nome_usuario }}{% endblock %}
                    </a>
                </span>
            </div>



            <div style="padding: 5px">
                <h4>
                    {% if usuario.nome %}
                        {{ usuario.nome }}
                    {% endif %}

                    {% if usuario.sobrenome %}
                        {{ usuario.sobrenome }}
                    {% endif %}
                </h4>

                {% if usuario.localizacao %}
                    <div id="localizacaoInfo" class="mb-2">
                        <i class="fa fa-map-pin"></i>
                        <a href="http://maps.google.com/?q={{ usuario.localizacao }}">
                            {{ usuario.localizacao }}
                        </a>
                    </div>
                {% endif %}

                <p><i class="fa fa-history"></i> Membro desde {{ moment(usuario.membro_desde).format('L') }}. Último acesso {{ moment(usuario.ultimo_acesso).fromNow() }}.</p>
        
                <!-- Se o cliente for ADMINISTRADOR -->
                {% if current_user.e_administrador() %}
                    <div id="emailInfo" class="mb-2">
                        <h6 class="text-muted">Email</h6>
                        <p><a href="mailto:{{ usuario.email }}">{{ usuario.email }}</a></p>
                    </div>
                {% endif %}
        
                
                {% if usuario.sobre %}
                    <div id="sobreInfo" class="mb-2">
                        <p>{{ usuario.sobre }}</p>
                    </div>  
                {% endif %}

                
            </div>

        </div>


        


    </div>


    <!-- ESTATÍSTICAS -->

    <div id="container-lista-estatisticas-usuario" class="">
        <ul id="lista-estatisticas-usuario" style="display: flex; flex-direction: row; justify-content: space-around; list-style-type: none;">

            <li>9 <i class="fa fa-check-square"></i> Lições completas</li>

            <li>9 <i class="fa fa-newspaper"></i> Publicações escritas</li>

            <li>9 <i class="fa fa-comment"></i> Comentários escritos</li>

            <li>9 <i class="fa fa-heart"></i> Amor recebido</li>
        </ul>
    </div>


    <div>
        <a href="{{ url_for('blog.escrever_publicacao') }}"><button class="btn btn-success">Criar publicação para o Blog</button></a>
        
    </div>


    <!-- Lista de publicações no MURAL -->
    <ul id="lista-publicacoes" class="row w-100 posts">

        <!-- Para cada par publicação-autor -->
        {% for publicacao in publicacoes %}

            <!-- Exiba a publicação -->
            {{ exibir_publicacao_perfil(publicacao) }}
        {% endfor %}
    </ul>


{% endblock %}